.last {
  height: 75vh;
  width: 80vw;
  display: flex;
  /* grid-template-columns: repeat(2, 1fr); */
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-y: scroll;
}
.smallcard {
  padding: 10px;
  margin: 10px;
}
.container2 {
  padding: 10px;
  margin: 10px;
}
